<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 
<div class="container">
  <hr>
  <h2 style="text-align: center;">Categories</h2>
  <a class="btn btn-success" href="/admin/categories/new">New category</a>
  <hr>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Slug</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category => { %>
        <tr>
          <th><%= category.id %> </th>
          <th><%= category.title %> </th>
          <th><%= category.slug %> </th>
          <th>
            <form actimon="POST" action="/categories/delete" style="display: inline;" onsubmit="confirmDelete(event, this)"> <!--THIS : passando o form como param -->
              <input type="hidden" name="id" value="<%= category.id %>">
              <button class="btn btn-danger">Delete</button>
            </form>
            <form method="POST" action="/categories/update">
              <input type="hidden">
              <button class="btn btn-warning">Edit</button>
            </form>
          </th>
        <% }) %>
      </tr>
    </tbody>
  </table>
</div>
<%- include ('../../partials/footer.ejs') %> 
<script>
  function confirmDelete(event, form){
    event.preventDefault() //impedir que o formulário seja submetido
    const decision = confirm('Are you sure you want to delete?')
    if(decision){
      form.submit()
    }
  }
</script>